<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bitseal"
    android:versionCode="14"
    android:versionName="0.5.4" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="org.bitseal.core.App"
        android:allowBackup="false"
        android:icon="@drawable/bitseal_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" > 
        
        <activity
            android:name="org.bitseal.activities.InboxActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
        </activity>
        
        <activity
            android:name="org.bitseal.activities.InboxMessageActivity"
            android:label="@string/inbox_message_activity_title"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        
       <activity
            android:name="org.bitseal.activities.SentActivity"
            android:label="@string/sent_activity_title"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        
        <activity
            android:name="org.bitseal.activities.SentMessageActivity"
            android:label="@string/sent_message_activity_title"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        
        <activity
            android:name="org.bitseal.activities.ComposeActivity"
            android:label="@string/compose_activity_title"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        
        <activity
            android:name="org.bitseal.activities.IdentitiesActivity"
            android:label="@string/identities_activity_title"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        
        <activity
            android:name="org.bitseal.activities.AddressBookActivity"
            android:label="@string/addressBook_activity_title"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        
        <activity
            android:name="org.bitseal.activities.SettingsActivity"
            android:label="@string/activity_settings_title"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        
        <activity
            android:name="org.bitseal.activities.NetworkSettingsActivity"
            android:label="@string/activity_network_settings_title"
            android:windowSoftInputMode="stateUnchanged" >
        </activity>
        
        <activity
            android:name="org.bitseal.activities.ImportOrExportActivity"
            android:label="@string/activity_import_or_export_title"
            android:windowSoftInputMode="stateUnchanged" >
        </activity>
        
        <activity
            android:name="org.bitseal.activities.ExportAddressesActivity"
            android:label="@string/activity_export_addresses_title"
            android:windowSoftInputMode="stateUnchanged" >
        </activity>
        
        <activity
            android:name="org.bitseal.activities.SecurityActivity"
            android:label="@string/activity_security_title"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        
        <activity
            android:name="org.bitseal.activities.SystemToolsActivity"
            android:label="@string/activity_system_tools_title"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        
        <activity
            android:name="org.bitseal.activities.ViewLogActivity"
            android:label="@string/activity_view_log_title"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        
        <activity
            android:name="org.bitseal.activities.ViewErrorsActivity"
            android:label="@string/activity_view_errors_title"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        
        <activity
            android:name="org.bitseal.activities.LockScreenActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        
        <activity
            android:name="org.bitseal.activities.SplashScreenActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service
            android:name="org.bitseal.services.BackgroundService"
	        android:exported="false"/>
        
        <service
            android:name="org.bitseal.services.NotificationsService"
	        android:exported="false"/>
        
        <service
            android:name="org.bitseal.services.DatabaseCleaningService"
	        android:exported="false"/>
        
	    <service
	        android:name="info.guardianproject.cacheword.CacheWordService"
	        android:exported="false"/>
        
        <provider
            android:name="org.bitseal.database.DatabaseContentProvider"
            android:authorities="org.bitseal.database"
            android:exported="false" >
        </provider>
        
        <!-- Declaring broadcast receiver for BOOT_COMPLETED event -->
        <receiver 
            android:name="org.bitseal.services.BootSignalReceiver" 
            android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        
    </application>

</manifest>